:root {
    --lightblue: rgb(74, 201, 255);
    --lightgreen: lightgreen; 
    --lightpink: lightpink;
    --lightyellow: lightyellow;
    --white: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 250px auto 100px;

    grid-template-areas: 
        "header   header   header   header   header   header"
        "sbl      sbl      main     main     sbr      sbr"
        "footer   footer   footer   footer   footer   footer";


    gap: 10px;
}

body {
    background-color:lightpink;
   
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

main {
    grid-area: main;
    background-color: aquamarine;
}

header{
    grid-area: header;

    background-image: url(glass.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-size: cover;

    color: white;
    text-align: center;
    padding: 5px;

    
}

footer{
    background-color: rgb(229, 233, 20);
    grid-area: footer;
    padding: 10px;
    text-align: center;
}


.sidebar-right {
    grid-area: sbr;
    background-color: deepskyblue;
   

   
}
.sidebar-left {
    grid-area: sbl;
    background-color: deeppink;

}

.right-float {
    float: right;
}

.left-float {
    float: left; 
}

